/* UNIVERSAL */


/* HEADER */
.header-main-container{
  width:100%;
  background: rgb(107, 80, 153);
  margin: 0;
  display: flex;
  border-bottom: 5px solid rgb(27, 21, 39);
}
.header-main-logo{
  width: 10%;
  margin: 20px 30px;
}
.header-links{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 85%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;

}
.header-link-text{
  color: white;
  margin: 0 10px;
  font-size: 28px;
  font-family: 'Francois One', sans-serif;
}
.header-link-text::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(178, 133, 255) ;
  transition: width .3s;
}

.header-link-text:hover::after {
  width: 100%;
  transition: width .3s;
}
.link{
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}
.header-socials{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 5%;
  font-size: 25px;
  cursor: pointer;
}
.header-icon{
  color: white;
  margin: 8px 0;
}
.header-icon:hover{
  transition: 0.1s ease-in-out;
  color: rgb(178, 133, 255);
}

/* MAIN */
.home-main-container{
  width: 80%;
  margin: auto;
}
.home-top-img{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.home-multi-img{
  width: 60%;
  margin: 18px;
}
.home-promise{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  margin-top: 10px;
  text-align: center;
  font-family: 'Francois One', sans-serif;
  border-left: 2px solid rgb(178, 133, 255);
}
.home-promise-title{
  font-size: 28px;
  width: 40%;
  color: rgb(58, 46, 0);
  border-bottom: 4px solid rgb(255, 204, 0);
}
.home-promise-body{
  font-size: 24px;
  color: rgb(58, 46, 0);
  text-transform: uppercase;
}
.home-mid-img{
  display: flex;
  margin: 30px 25px;
  border-top: 5px solid rgb(27, 21, 39);
}
.home-premium-img{
  width: 45%;
  height: 50%;
  margin: 94px;
  padding: 15px;
}
.home-insta{
  margin-top: 70px;
}

/* FLAVORS */
.flavors-main-container{
  width: 100%;
  margin: 0;
  display: flex;
}
.flavors{
  width: 20%;
  margin: auto;
}
.flavors-list{
  list-style-type: none;
 
}
.li{
  font-size: 22px;
  line-height: 54px;
  color:rgb(206, 164, 0);
  font-weight: 700; 
}
.van::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fbf6d9 ;
  transition: width .3s;
}
.van:hover::after {
  width: 100%;
  transition: width .3s;
}
.stra::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ff9378 ;
  transition: width .3s;
}
.stra:hover::after {
  width: 100%;
  transition: width .3s;
}
.red::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ff623a  ;
  transition: width .3s;
}
.red:hover::after {
  width: 100%;
  transition: width .3s;
}
.choco::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #c76c37 ;
  transition: width .3s;
}
.choco:hover::after {
  width: 100%;
  transition: width .3s;
}
.fudge::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #703737 ;
  transition: width .3s;
}
.fudge:hover::after {
  width: 100%;
  transition: width .3s;
}
.cherry::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #b31c1c ;
  transition: width .3s;
}
.cherry:hover::after {
  width: 100%;
  transition: width .3s;
}
.cnc::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #181818 ;
  transition: width .3s;
}
.cnc:hover::after {
  width: 100%;
  transition: width .3s;
}
.mint::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #96ffc7 ;
  transition: width .3s;
}
.mint:hover::after {
  width: 100%;
  transition: width .3s;
}
.pecan::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffc89c ;
  transition: width .3s;
}
.pecan:hover::after {
  width: 100%;
  transition: width .3s;
}
.almond::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffc972 ;
  transition: width .3s;
}
.almond:hover::after {
  width: 100%;
  transition: width .3s;
}
.caramel::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffac74 ;
  transition: width .3s;
}
.caramel:hover::after {
  width: 100%;
  transition: width .3s;
}
.coffee::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #6e340e ;
  transition: width .3s;
}
.coffee:hover::after {
  width: 100%;
  transition: width .3s;
}
.mocha::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #864119 ;
  transition: width .3s;
}
.mocha:hover::after {
  width: 100%;
  transition: width .3s;
}
.exp::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #b95a24 ;
  transition: width .3s;
}
.exp:hover::after {
  width: 100%;
  transition: width .3s;
}

.flavor-imgs{
  width: 40%;
  margin: auto; 
}
.flavor-four{
  width: 100%;
  height: 20%;
  padding-bottom: 5px;
  border-bottom: 5px solid rgb(107, 80, 153);
}
.flavor-classic{
  padding-top: 2px;
  width:100%;
  height: 20%;
}
/* CONTACT */
.contact-main-conatiner{
  width: 100%;
}
.contact-student-union{
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 4px solid rgb(107, 80, 153);
}
.contact-meadows{
  width: 50%;
  margin:auto;
}
.contact-title{
  font-size: 25px;
  color: rgb(206, 164, 0);
  margin: 0;
  margin-top: 10px;
}
.contact-body{
  font-size: 20px;
  color: rgb(27, 21, 39);
}
.contact-upcoming{
  width: 50%;
  margin: auto;
}
.c-link{
  color: black;
  text-decoration: none;
}
/* FOOTER */
.footer-main-container{
  min-height: 20vh;
  background: rgb(107, 80, 153);
  display: flex;
  color: white;
  font-size: 22px;
  margin: auto;
  width: 100%;
}
.footer-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
}
.footer-label{
  padding: 0 15px;
  border-left: 4px solid rgb(240, 240, 240);
  color: white;
}
.footer-label-1{
  padding: 0 15px;
  border-right: 4px solid rgb(240, 240, 240);
  color: white;
  text-decoration: none;
}
.footer-label-2{
  padding: 0 15px;
  color: white;
  text-decoration: none;
}
.footer-label-2:hover{
  transition: 0.1s ease-in-out;
  color: rgb(178, 133, 255);
}
.footer-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.f-link{
  color: white;
  margin: 0 5px;
}
.f-link:hover{
  transition: 0.1s ease-in-out;
  color: rgb(178, 133, 255);
}
.footer-link-text{
  margin: 0;
}
.footer-icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0;
}
.footer-img{
  margin-top: 15px;
  margin-left: 40px;
  width: 8%;
  height: 10%;
}